* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(2, 133, 255, 0.486);
    color: white;
}

/* chatbotatom */
.fixed-logo {
    position: fixed;
    top: 415px;
    right: 20px;
    z-index: 1000;
    text-decoration: none;
    color: rgba(255, 254, 254, 0.71);
    font-size: large;
    font-family: cursive;
    font-weight: bolder;
}

.fixed-logo img {
    width: 70px;
    height: auto;
    cursor: pointer;
}

.fixed-logo:hover {
    font-size: medium;
    color: rgb(205, 255, 130);
}

/* chatbotatom */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: rgba(49, 184, 8, 0.562);
    border: solid;
    border-radius: 1cap;
    border-width: 10px;
    border-top-color: gold;
    border-bottom-color: rgb(0, 248, 37);
    border-left-color: #008cff;
    border-right-color: blueviolet;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li .aboutfirst:hover {
    font-size: x-large;
    color: yellow;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li .servicesfirst:hover {
    font-size: x-large;
    color: brown;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li .skillsfirst:hover {
    font-size: x-large;
    color: rgb(112, 2, 255);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li .projectsfirst:hover {
    font-size: x-large;
    color: rgb(247, 195, 130);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav ul li .contactfirst:hover {
    font-size: x-large;
    color: greenyellow;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.firstsection {
    display: flex;
    justify-content: space-around;
    margin: 23px 0;
    align-items: center;
}

.firstsection div {
    width: 30%;
}

.leftsection {
    font-size: 2.6rem;
    width: 34px;
}

.Photographer {
    font-size: xx-large;
    font-style: italic;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}

.pv {
    font-size: xx-large;
    font-style: italic;
    color: blueviolet;

}

.coder {
    font-size: xx-large;
    font-style: italic;
    color: rgb(190, 12, 59);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}

.rightsection img {
    width: 50%;
    margin: 50px 0;
    padding: 10px;
    border-radius: 20px;
    border: solid;
    border-color: blue;
    box-shadow: 5px 5px 20px 10px yellow;
    margin-left: 30%;
}

.d-flex {
    margin-left: 35%;
}

.namecolour {
    color: rgb(140, 255, 0);
}

.PORTFOLIO {
    color: rgb(4, 0, 255);
    font-style: italic;

}

.element {
    color: rgb(102, 0, 255);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

main hr {
    border: 2;
    border-color: rgb(59, 251, 0) blue rgb(255, 251, 0);
    border-radius: 20cap;
    border-width: 1cap;
    background-color: rgba(193, 218, 242, 0.486);
    height: 2cap;
    margin: 84px 90px;
}

.secondsection h1 {
    font-size: 1.7rem;
    color: rgb(190, 12, 151);
    margin-left: 35%;
}

.namecolourtwo {
    color: rgba(245, 245, 245, 0.936);
    margin-left: 39%;
    font-size: small;
}


.secondsection .box {
    background: rgb(106, 0, 255);
    width: 80vw;
    height: 4px;
    margin: 100px 0;
    display: flex;
    margin-right: 10%;
}

.secondsection .vertical {
    height: 90px;
    width: 2px;
    background: gold;
    margin: 0 100px;
    margin-left: 8.5%;
}

.image-top {
    width: 75px;
    position: relative;
    top: -70px;
    left: -20px;
}

.vertical-title {
    position: relative;
    top: 20px;
    width: 150px;
    left: -30px;
    font-size: 21px;
}


.vertical-desc {
    position: relative;
    top: 40px;
    width: 150px;
    font-size: 10px;
    color: rgb(133, 133, 133);
    left: -30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vertical-title:hover {
    color: rgb(133, 133, 133);
    font-style: italic;
    font-size: small;
    font-family: cursive;
}

.vertical-desc:hover {
    color: white;
    font-style: normal;
    font-size: x-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-top2 {
    width: 55px;
    position: relative;
    top: -55px;
    left: -10px;
}

.vertical-title2 {
    position: relative;
    top: 40px;
    width: 180px;
    left: -30px;
    font-size: 19px;
}

.vertical-desc2 {
    position: relative;
    top: 61px;
    width: 150px;
    font-size: 10px;
    color: rgb(133, 133, 133);
    left: -30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vertical-title2:hover {
    color: rgb(133, 133, 133);
    font-style: italic;
    font-size: small;
    font-family: cursive;
}

.vertical-desc2:hover {
    color: white;
    font-style: normal;
    font-size: x-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-top3 {
    width: 111px;
    position: relative;
    top: -65px;
    left: -25px;
}

.vertical-title3 {
    position: relative;
    top: 20px;
    width: 180px;
    left: -20px;
    font-size: 21px;
}

.vertical-desc3 {
    position: relative;
    top: 40px;
    width: 150px;
    font-size: 9px;
    color: rgb(133, 133, 133);
    left: -30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vertical-title3:hover {
    color: rgb(133, 133, 133);
    font-style: italic;
    font-size: small;
    font-family: cursive;
}

.vertical-desc3:hover {
    color: white;
    font-style: normal;
    font-size: x-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-top4 {
    width: 71.2px;
    position: relative;
    top: -73px;
    left: -22px;
}

.vertical-title4 {
    position: relative;
    top: 22px;
    width: 180px;
    left: -20px;
    font-size: 20px;
}

.vertical-desc4 {
    position: relative;
    top: 40px;
    width: 150px;
    font-size: 9px;
    color: rgb(133, 133, 133);
    left: -30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vertical-title4:hover {
    color: rgb(133, 133, 133);
    font-style: italic;
    font-size: small;
    font-family: cursive;
}

.vertical-desc4:hover {
    color: white;
    font-style: normal;
    font-size: x-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-top5 {
    width: 102px;
    position: relative;
    top: -75px;
    left: -55px;
}

.vertical-title5 {
    position: relative;
    top: 20px;
    width: 180px;
    left: -9px;
    font-size: 20px;
}

.vertical-desc5 {
    position: relative;
    top: 40px;
    width: 150px;
    font-size: 10px;
    color: rgb(133, 133, 133);
    left: -9px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vertical-title5:hover {
    color: rgb(133, 133, 133);
    font-style: italic;
    font-size: smaller;
    font-family: cursive;
}

.vertical-desc5:hover {
    color: white;
    font-style: normal;
    font-size: x-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    background-color: rgb(152, 201, 250);
    height: 90%;
    margin-top: 10%;
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;

}
 
.footer ul {
    list-style: none;
}

.footer>div {
    width: 223px;
}

footer .footer-rights {
    text-align: center;
    color: rgba(128, 128, 128, 0.815);
    padding: 23px 0;
}


footer .footer-rights:hover {
    text-align: center;
    color: rgba(128, 128, 128, 0.815);
    padding: 23px 0;
    font-size: x-large;
}


.btnone {
    padding: 12px;
    background-color: orange;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10%;
    border-color: aqua;
    margin-top: 1%;
}

.btnone:hover {
    font-size: x-large;
    color: blue;
    font-style: italic;
    font-family: inherit;
    background-color: rgb(152, 253, 2);
    border-color: orange;
}

.btntwo {
    padding: 12px;
    background-color: blue;
    color: whitesmoke;
    border: 2px solid white;
    border-radius: 2rem;
    font-size: 20px;
    cursor: pointer;
    /* margin-left: 2%; */
    border-color: aqua;
}

.btntwo:hover {
    font-size: large;
    color: blueviolet;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    border-color: blue;
    background-color: yellow;
}


footer ul li {
    list-style: none;
    margin: 0 23px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

.home:hover {
    font-size: x-large;
    font-style: italic;
    color: rgb(174, 0, 255);
}

.about:hover {
    font-size: x-large;
    font-style: italic;
    color: yellow;
}

.services:hover {
    font-size: x-large;
    font-style: italic;
    color: brown;
}

.contacts:hover {
    font-size: x-large;
    font-style: italic;
    color: green;
}

.footer-first {
    color: rgb(0, 30, 255);
    margin-top: 5%;
}

.footer-third {
    margin-left: 5%;
}

.facebook:hover {
    font-size: x-large;
    font-style: italic;
    color: rgb(0, 64, 255);
}

.instagram:hover {
    font-size: x-large;
    font-style: italic;
    color: #fe6200;
}

.linkedin:hover {
    font-size: x-large;
    font-style: italic;
    color: rgba(29, 106, 231, 0.5);
}

.telegram:hover {
    font-size: x-large;
    font-style: italic;
    color: #2481cc;
}

.email:hover {
    font-size: x-large;
    font-style: italic;
    color: rgb(202, 0, 128);
}

.contactfist:hover {
    font-size: x-large;
    font-style: italic;
    color: greenyellow;
}

.photoes {
    margin-left: 90%;
}


/* this part is for dark mode */

label {
    width: 76px;
    height: 35px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 300px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 3s;
}

label:after {
    content: "";
    width: 31px;
    height: 27px;
    position: absolute;
    top: 4px;
    left: 3.5px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 1s;
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked+label {
    background: #242424;
}

input:checked+label:after {
    left: 70px;
    transform: translateX(-90%);
    background: linear-gradient(180deg, gold, #646262);
}

label:active:after {
    width: 180px;
    border: solid;
    border-radius: 10px;
}

.backgroundcolour {
    width: 98.8vw;
    height: 254vh;
    z-index: -1;
    position: absolute;
    transition: 1s;
    top: 9%;
}

input:checked+label+.backgroundcolour {
    background: #242424;

}

label svg {
    position: absolute;
    width: 20px;
    top: 20%;
    z-index: 100;
}

label svg.sun {
    left: 8px;
    fill: white;
    transition: 5s;
}

label svg.moon {
    left: 50px;
    fill: grey;
    transition: 8s;
}

input:checked+label svg.sun {
    fill: whitesmoke;
    transition: 15s;
}

input:checked+label svg.moon {
    fill: whitesmoke;
    transition: 5s;
}


/* (dark mode part end) */

.ForPhoto {
    /* margin-left: 16%; */
    /* margin-top: 2%; */
    width: 25vw;
}

.ForPhoto:hover {
    zoom: 1.4;
}

@media screen and (max-width: 920px) {

    .box {
        flex-direction: column;
    }

    nav {
        flex-direction: column;
        height: 125px;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        background-color: rgb(49 184 8 / 71%);
        border-radius: 2cap;
    }

    .firstsection {
        margin-top: 1%;
    }


    .secondsection .vertical {
        height: unset;
    }

    .right ul li {
        font-size: xx-small;
        font-weight: 900;
        margin-top: 2%;
        margin-left: 4%;
    }

    .left {
        margin-top: 1%
    }

    .secondsection h1 {
        font-size: large;
        margin-left: 21%
    }


    .namecolourtwo {
        font-size: xx-small;
        margin-left: 30%
    }

    .vertical-title,
    .vertical-desc,
    .vertical-title2,
    .vertical-desc2,
    .vertical-title3,
    .vertical-desc3,
    .vertical-title4,
    .vertical-desc4,
    .vertical-title5,
    .vertical-desc5 {
        left: 60px;
    }

    .secondsection .vertical {
        height: 600px;
        margin-top: 3px;

    }

    .secondsection .box {
        height: 4px;
        margin-top: 2%;
    }

    .btnone {
        margin-bottom: 2%;
    }

    .buttons {
        margin-left: 17%;
    }

    .leftsection {
        font-size: x-large;
    }

    .rightsection {
        margin-right: 5%;

    }

    .rightsection img {
        width: 60%;
        margin: 50px 0;
        padding: 10px;
        border-radius: 20px;
        border: solid;
        border-color: blue;
        box-shadow: 5px 5px 20px 10px yellow;
        margin-left: 20%;
        margin-bottom: 90%;
    }

    .image-top {
        top: 80px;
        left: -35px;
    }

    .image-top2 {
        top: 80px;
        left: -18px;
    }

    .image-top3 {
        top: 80px;
        left: -48px;
    }

    .image-top4 {
        top: 80px;
        left: -27px;
    }

    .image-top5 {
        top: 80px;
        left: -72px;
    }

    .Photographer {
        font-size: medium;
        font-style: italic;
        color: blueviolet;
        font-family: 'Courier New', Courier, monospace;
    }

    .pv {
        font-size: small;
        font-style: italic;
        color: blueviolet;

    }

    .coder {
        font-size: small;
        font-style: italic;
        color: rgb(190, 12, 59);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 800;
    }

    footer {
        margin-top: 150%;
    }

    .footer {
        display: flex;
        padding: 2px 1px;
        justify-content: space-evenly;
        height: 60vh;
    }

    .footer-first h3 {
        margin-left: 90%;
        font-size: medium;
    }

    .footer-third {
        margin-left: 20%;
        margin-top: 10%;
        font-size: large;
    }

    .footer-fourth {
        margin-right: 20%;
        margin-top: 10%;
        font-size: large;
    }

    .backgroundcolour {
        width: 105vw;
        height: 300vh;
        z-index: -1;
        position: absolute;
        transition: 1s;
        margin-top: 20%;
    }

    .ForPhoto {
        margin-left: 16%;
        margin-top: 2%;
        width: 60vw;
    }

    .ForPhoto:hover {
        zoom: 1.2;
    }

    .fixed-logo {
        position: fixed;
        top: 500px;
        /* right: 20px;  */
        z-index: 10;
        text-decoration: none;
        color: white;
        font-size: x-small;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        margin-right: 45%;
    }

    .fixed-logo img {
        width: 70px;
        height: auto;
        cursor: pointer;
    }
}